/* image */
img {
    display: inline;
}

/* modal */
.modal-dialog {
    box-shadow: none;
}
.header-table{
    background: linear-gradient(45deg, red, blue);
    color: #fff;
}
ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.text-sm.text-gray-700.leading-5{
    padding: 0 10px;
	margin: 0;
}
/* form */
.display_data p {
    font-size: 20px;
    margin-bottom: 0;
}

.display_data .form-group:last-child {
    margin-bottom: 0;
}

/* button delete */
.tabs-animated .delete .nav-link::before {
    background-color: #d92550; /*--danger*/
}

/* pagination */
nav[aria-label="Pagination Navigation"] span[aria-current=page] > span {
    background-color: #3f6ad8f0 !important;
    border: 1px solid #3f6ad8 !important;
    /*opacity: 0.9;*/
    color: #fff;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

nav[aria-label="Pagination Navigation"] a {
    text-decoration: none;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

nav[aria-label="Pagination Navigation"] a:first-child {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

nav[aria-label="Pagination Navigation"] a:last-child {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

nav[aria-label="Pagination Navigation"] a:hover {
    background-color: #e9ecef !important;
    color: #0056b3;
}

/* icon setting */
.ui-theme-settings .btn-open-options {
    bottom: 48px;
}

input.date-filter {
	background-color: white;
	width: 200px;
	height: 35px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 0 10px;
    margin-left: 10px;
}
.small-box {
    border-radius: 6px;
}
.notification-filter{
    text-align: center;
    font-size: 16px;
    max-height: 0px;
    height: 40px;
    overflow: hidden;
    display: flex;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    justify-content: center;
    align-items: center
}
.popup_print {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popup_print.show::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
    content: '';
    z-index: 100;
}
.popup_print.show {
    opacity: 1;
    visibility: visible;
    z-index: 1001;
}